/* ============================================================ */
/* FontAwesome */
/* ============================================================ */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=3.2.1");
  src: url("../fonts/fontawesome-webfont.eot?") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff?v=3.2.1") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=3.2.1") format("truetype"), url("../fonts/fontawesome-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/* ============================================================ */
/* Base */
/* ============================================================ */
body {
  background: #EDECE4;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.8; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 26px; }

h3 {
  font-size: 24px;
  margin-bottom: 18px; }

h4 {
  font-size: 22px;
  margin-bottom: 18px; }

h5 {
  font-size: 20px;
  margin-bottom: 15px; }

h6 {
  font-size: 18px;
  margin-bottom: 15px; }

p {
  margin: 0 0 30px; }

ul, ol {
  margin: 0 0 30px;
  padding: 0 0 0 23px; }

ul li {
  list-style: circle; }

li {
  margin: 0 0 5px; }
  li:last-of-type {
    margin-bottom: 0; }

blockquote {
  border-left: 5px solid #C7CACF;
  font-size: 22px;
  font-style: italic;
  margin: 40px 0;
  padding: 10px 20px;
  position: relative; }

pre {
  background: #3C4B66;
  border-radius: 3px;
  line-height: 1.6;
  margin: 40px 0 35px;
  padding: 20px 30px; }

strong {
  font-weight: 400; }

a {
  text-decoration: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 5px solid #C7CACF;
  margin: 60px 0;
  padding: 0; }

img {
  display: block;
  margin-bottom: 30px;
  padding: 10px 0;
  width: auto;
  max-width: 100%; }

input[type="text"] {
  background: #C7CACF;
  border: none;
  border-radius: 3px;
  color: #303030;
  min-width: 300px;
  padding: 8px 12px; }

::-webkit-input-placeholder {
  color: #303030; }

:-moz-placeholder {
  color: #303030; }

::-moz-placeholder {
  color: #303030; }

:-ms-input-placeholder {
  color: #303030; }

.clearfix:after {
  clear: both;
  content: "";
  display: table; }

.fluid-width-video-wrapper {
  margin: 0 0 40px; }

/* ============================================================ */
/* General Appearance */
/* ============================================================ */
.container {
  margin: 0 auto;
  position: relative;
  width: 85%;
  max-width: 978px; }

/* ============================================================ */
/* Header */
/* ============================================================ */
.header {
  background: #FEFEFE;
  color: #ADADAD;
  padding: 70px 0; }
  .header a {
    color: #ADADAD; }
    .header a:hover {
      color: #10ADDD; }

.site-logo {
  float: left;
  width: 100%; }
  .site-logo a {
    float: left; }

.site-title {
  display: inline-block;
  float: left;
  margin: 0 8px 0 0;
  text-transform: uppercase; }

.site-description {
  display: inline-block;
  float: left;
  font-size: 16px;
  margin: 21px 0 0;
  text-transform: none; }

.icon-menu {
  float: right;
  margin: 6px 0; }
  .icon-menu a {
    color: #D8D8D8;
    font-family: "FontAwesome";
    font-size: 28px;
    margin: 0 0 0 5px; }
  .icon-menu a:hover {
    color: #10ADDD; }

.page-title {
  background: #FEFEFE;
  color: #ADADAD;
  padding: 0 0 20px;
  overflow: auto; }
  .page-title h4 {
    margin-top: 0; }

/* ============================================================ */
/* Post */
/* ============================================================ */
.post {
  padding: 90px 0; }

.post.one {
  background: #343f53;
  color: #c7cacf; }
  .post.one .post-meta,
  .post.one .post-meta a,
  .post.one a.post-link {
    border-color: #c7cacf;
    color: #c7cacf; }
  .post.one .post-meta a:hover {
    color: #FAF86B; }

.post.two {
  background: #16a5d7;
  color: #d0ecf6; }
  .post.two .post-meta,
  .post.two .post-meta a,
  .post.two a.post-link {
    border-color: #d0ecf6;
    color: #d0ecf6; }
  .post.two .post-meta a:hover {
    color: #FAF86B; }

.post.three {
  background: #15d657;
  color: #e1f7e9; }
  .post.three .post-meta,
  .post.three .post-meta a,
  .post.three a.post-link {
    border-color: #e1f7e9;
    color: #e1f7e9; }
  .post.three .post-meta a:hover {
    color: #FAF86B; }

.post-id {
  color: #FFF;
  font-size: 32px;
  float: left;
  width: 85px; }

.post-header {
  float: left;
  width: 23%; }

.post-title {
  color: #FFF;
  line-height: 1.4;
  margin: 0 0 20px;
  padding: 0;
  text-transform: uppercase; }
  .post-title a {
    color: #FFF; }
  .post-title a:hover {
    color: #FAF86B; }

.post-meta {
  font-size: 16px; }
  .post-meta span {
    display: block;
    line-height: 1.5;
    margin: 0 0 8px; }
  .post-meta a:hover {
    color: #FAF86B; }

.post-content {
  float: right;
  width: 68.7%; }
  .post-content a {
    color: #FAF86B; }
  .post-content a:hover {
    border-bottom: 1px dotted #FAF86B;
    color: #FAF86B;
    padding-bottom: 2px; }
  .post-content *:first-child {
    margin-top: 0; }
  .post-content *:last-child {
    margin-bottom: 0; }

a.post-link {
  display: inline-block;
  font-weight: 400; }
  a.post-link:hover {
    border: none;
    padding: 0; }

.post a.post-link:hover {
  color: #FAF86B; }

/* ============================================================ */
/* Author */
/* ============================================================ */
.author-header {
  background: #FEFEFE;
  color: #ADADAD;
  overflow: auto;
  padding-bottom: 55px; }

.author-avatar {
  border-radius: 3px;
  float: left;
  height: 50px;
  margin: 11px 30px 0 0;
  padding: 0;
  width: 50px; }

.author-name {
  font-size: 22px;
  margin: 0;
  padding: 0; }

.author-meta {
  font-size: 16px; }
  .author-meta span {
    display: inline-block;
    margin-right: 20px; }
  .author-meta a {
    color: #ADADAD; }
  .author-meta a:hover {
    color: #10ADDD; }
  .author-meta .fa {
    font-size: 15px;
    margin-right: 5px; }

.author-bio {
  margin: 15px 0 0; }

/* ============================================================ */
/* Pagination */
/* ============================================================ */
.pagination {
  padding: 70px 0; }
  .pagination a {
    color: #303030;
    font-size: 18px; }
    .pagination a:hover {
      color: #10ADDD; }
  .pagination:after {
    clear: both;
    content: "";
    display: table; }

.newer-posts {
  float: left; }

.older-posts {
  float: right; }

/* ============================================================ */
/* Footer */
/* ============================================================ */
.footer {
  background: #FEFEFE;
  color: #ADADAD;
  font-size: 16px;
  overflow: auto;
  padding: 70px 0; }
  .footer p {
    display: inline-block;
    margin-bottom: 0; }
  .footer a {
    color: #ADADAD;
    font-weight: 400; }
    .footer a:hover {
      color: #10ADDD; }

.footer-copyright {
  float: left; }

.footer-credit {
  float: right; }

/* ============================================================ */
/* Media Queries */
/* ============================================================ */
@media only screen and (max-width: 1110px) {
  .post-title {
    font-size: 26px; }

  .post-date strong {
    display: block; } }
@media only screen and (max-width: 895px) {
  .post-title {
    font-size: 22px; } }
@media only screen and (max-width: 765px) {
  .post-header {
    margin-bottom: 25px;
    width: 100%; }

  .post-date strong {
    display: inline; }

  .post-content {
    float: left;
    width: 100%; }

  .author-avatar {
    float: none;
    margin-bottom: 8px; }

  .author-meta span {
    margin-bottom: 5px; } }
@media only screen and (max-width: 640px) {
  .site-title {
    display: block;
    width: 100%; }

  .site-description {
    margin: 13px 0; }

  .icon-menu {
    margin: 0; }

  .footer p {
    display: block;
    float: left; } }
@media only screen and (max-width: 480px) {
  .site-description {
    display: block; }

  .icon-menu {
    display: block;
    float: left;
    width: 100%; }
    .icon-menu a {
      margin: 0 5px 0 0; } }
